-# Meta Data
- @meta_title = 'Middleman Startup'
- @meta_description = 'Meta Description'

-# Classes
- @class_body = ''
- @class_header = ''
- @class_main = ''
- @class_footer = ''

-# ---------------------------------------------
